@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*

{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
  }
  section
  {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
  }
  header
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .logo
  {
    position: relative;
    max-width: 230px;
    height: 127px;
    margin: 6px;
    border-radius: 5%;
  }

  header ul
  {
    position: relative;
    display: flex;
  }
  header ul li
  {
    list-style: none;
  }

  header ul li a
  {
    display: inline-block;
    margin-top: -20px;
    padding: 8px 20px;
    background: skyblue;
    border-radius: 40px;
    letter-spacing: 1px;
    color: #333;
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;

  }
  .content
  {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content .textbox
  {
    position: relative;
    max-width: 600px;
  }
  .content .textbox h2
  {
    position: relative;
    margin-top: -160px;
    color:indianred;
    font-size: 4em;
    line-height: 1.4em;
    font-weight:500;
  }.content .textbox h2 span
  {
    color:green;
    font-size: 0.8em;
    font-weight: 800;
  }
  .content .textbox p
  {
    color: #333;
  }
  .content .imgbox
  {
    width: 1100px;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    margin-top: 0px;
  }
  .content .imgbox img
  {
    max-width: 340px;
  }
  .circle
{
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  background:skyblue;
  clip-path: circle(600px at right 800px );
}
.sci
{
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.sci li
{
  list-style: none;
}
.sci li a
{
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
}